html, body {
     font-family: 'Lato', sans-serif;
     background-color: rgb(13, 13, 14);
     padding: 0;
     cursor: pointer;
	 overflow: hidden;
	 font-size: 15px;;
}

p {
    color: rgb(228, 230, 235);
}

a:hover {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100vh;
	overflow-y: scroll;
}

#gify-nav {
    background: #1a1a1a !important;
    width: 99.2%;
}

.errorlist {
    background-color: #ec8f896b;
    color: #a76161;
    border-radius: 3px;
    padding: 1rem;
    margin: 0;
    list-style: none;
    margin-bottom: 2%;
}

.title,
.log-out {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.log-out h1 {
	color: rgb(228, 230, 235);
}

.title h1 {
    color: rgb(228, 230, 235);
}

.login-form,
.change-password-form,
.register-form {
    margin: 0 auto;
    width: 20%;
}

.change-password-success {
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

.login-form h1 {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#register-message {
    margin: 0;
    padding: 0;
}

.authButton {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border: 0.5px solid #343a40;
    transition: 0.2s;
    color: rgb(228, 230, 235);
}

.authButton:hover {
    transform: scale(1.05);
    color: rgb(228, 230, 235);
}

.navButton {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border: 0.5px solid #343a40;
    transition: 0.2s;
    color: black;
    margin-top: 0.2em !important;
}

.navButton:hover {
    transform: scale(1.05);
}


.popover-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popover-body a {
    padding: 0.1em;
    width: 75%;
    display: inline-block;
    margin: 0 auto;
}

#avatar-link {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
}

#avatar-nav,
.avatar-new-comment {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


#profile-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5% auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2em;
}

#profile__about {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

#profile__about-me h3 {
    color: rgb(228, 230, 235);
    margin-bottom: 1em;
}

#profile__about-avatar {
    text-align: center;
}

#avatar-main,
#avatar-main-edit,
#avatar-default-edit,
#avatar-main-edit-default {
    height: 175px;
    width: 170px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

#profile__stats {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.follower-info {
    padding: 0.5rem;
    border-top: 1px solid white;
    transition: 0.5s all;
    margin: 0.5rem;
}

.follower-info:hover {
    cursor: pointer;
    border-top: 1px solid black;
}

#profile__about-edit {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.modal-body {
    display: flex;
    flex-flow: row wrap;
    max-width: 100% !important;
    min-height: 100% !important;
    height: 10rem;
}

.avatar-preview-container {
    position: relative;
    max-width: 100px;
    max-height: 100px;
    margin: 1.7%;
    padding: 0;
    border-radius: 5px;
    border: 3px solid transparent;
    transition: all 0.2s;
}

.avatar-preview-container:hover {
    border: 3px solid #6b91fb9c;
    cursor: pointer;
}

.close {
    position: absolute;
    right: -0.5rem;
    top: -1rem;
    transition: all 0.5s;
}

.hidden {
    display: none;
}

.close:focus {
    outline: none;
}

.close:hover {
    transform: scale(1.3);
}

.close:active {
    transform: scale(1);
}

.selected {
    border: 3px solid #6b91fb9c;
}

.unselected {
    border: 3px solid transparent;
}

.avatar-preview {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 57px -16px rgba(0,0,0,0.35);
}

.avatar-warning {
    padding: 0;
    margin: 0;
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
}

#id_about {
    background: rgb(228, 230, 235);
}

#id_about:focus {
    outline: none !important;
    border: 1px solid rgb(228, 230, 235);
}

#save-edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#save-edit a {
    margin-right: 10px;
}

#modal-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.post {
    margin-bottom: 1.5rem;
    width: 30%;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 1.5rem;
    background: rgb(28, 30, 33);
    transition: all 0.5s;
}

.post:first-child {
    margin-top: 7.5%;
}

.card-body {
	padding: 0.5em;
}

.post-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-buttons button {
	width: 25%;
    background: rgb(28, 30, 33);
    margin-right: 1em;
    border: none;
    border-radius: 3px;
    padding: 0.3em;    
    transition: all 0.2s;
	color: rgb(176, 179, 184);
	font-size: 0.8em;
}

.post-buttons button:hover {
    background: rgba(142, 142, 142, 0.33);
}


.post-buttons button:focus {
	outline: none;
	border: none;
}

.modal-post-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2000 !important;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

.modal-post-container.show {
	opacity: 1;
	pointer-events: auto;
}

.modal-create-post {
	background: white;
	width: 600px;
	max-width: 100%;
	padding: 30px 50px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
	margin-bottom: 5%;
}

#close_modal {
	background-color: #47a386;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 14px;
	padding: 10px 25px;
	margin-top: 2.5%;
}

#new-post-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	margin: 5px;
}

/* #link_url:invalid { */
/* 	border-color: #900; */
/* } */

#link_url:focus:invalid {
	outline: none !important;
}

.errorurl {
	width: 100%;
	padding: 0;
	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;
}

.errorurl.active {
	padding: 0.3em;
	background-color: #FDD;
	color: #653131;
}

.new-comment-form {
	width: 100%;
	text-align: center;
	position: relative;
}

.comment-error span {
	color: black;
}

.new-comment-input {
	width: 95%;
	padding: 0.45em;
	font-size: 14px;
	background: rgb(228, 230, 235);
	border-radius: 5px;
	transition: all 0.3s;
	border: 3px solid transparent;
}

.new-comment-error {
	border: 3px solid #941414b5;
}

.new-comment-input:focus {
	outline: none;
}

.add-new-post {
	padding: 0em;
	display: flex;
	justify-content: space-between;
	height: 0;
	opacity: 0;
	/* animation-name: showcomment; */
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

.add-new-post.hideComment {
	display: none;
	height: 0;
	opacity: 0;
}

@keyframes showcomment {
	25% {
		opacity: 0.5em;
		padding: 1em;
	}

	55% {
		min-height: 50%;
	}

	75% {
		min-height: 100%;
		height: 100%;
		opacity: 1;
	}

	100% {
		min-height: 100%;
		height: 100%;
		opacity: 1;
		padding: 1em;
	}
}

.post-comment {
	padding: 15px;
	border-top: 2px solid #5f5f5f40;
}

.comments-container {
	display: block;
}

.posts-container.showComments {
	display: block;
}
