html, body {
     font-family: 'Lato', sans-serif;
     background-color: rgb(13, 13, 14);
     padding: 0;
     cursor: pointer;
}

p {
    color: rgb(228, 230, 235);
}

#container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

#gify-nav {
    background: rgb(26, 29, 33) !important;
    width: 99%;
}

.errorlist {
    background-color: #ec8f896b;
    color: #a76161;
    border-radius: 3px;
    padding: 1rem;
    margin: 0;
    list-style: none;
    margin-bottom: 2%;
}

.title,
.log-out {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.login-form,
.change-password-form,
.register-form {
    margin: 0 auto;
    width: 20%;
}

.change-password-success {
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

.login-form h1 {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#register-message {
    margin: 0;
    padding: 0;
}

.authButton {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border: 0.5px solid #343a40;
    transition: 0.2s;
}

.authButton:hover {
    transform: scale(1.05);
}


.popover-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popover-body a {
    padding: 0.1em;
    width: 75%;
    display: inline-block;
    margin: 0 auto;
}

#avatar-link {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
}

#avatar-link img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


#profile-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 5% auto;
}

#profile__about {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

#profile__about-avatar {
    text-align: center;
}

#avatar-main,
#avatar-main-edit,
#avatar-default-edit,
#avatar-main-edit-default {
    height: 175px;
    width: 170px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

#profile__stats {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.follower-info {
    padding: 0.5rem;
    border-top: 1px solid white;
    transition: 0.5s all;
    margin: 0.5rem;
}

.follower-info:hover {
    cursor: pointer;
    border-top: 1px solid black;
}

#profile__about-edit {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.modal-body {
    display: flex;
    flex-flow: row wrap;
    max-width: 100% !important;
    min-height: 100% !important;
    height: 10rem;
}

.avatar-preview-container {
    position: relative;
    max-width: 100px;
    max-height: 100px;
    margin: 1.7%;
    padding: 0;
    border-radius: 5px;
    border: 3px solid transparent;
    transition: all 0.2s;
}

.avatar-preview-container:hover {
    border: 3px solid #6b91fb9c;
    cursor: pointer;
}

.close {
    position: absolute;
    right: -0.5rem;
    top: -1rem;
    transition: all 0.5s;
}

.hidden {
    display: none;
}

.close:focus {
    outline: none;
}

.close:hover {
    transform: scale(1.3);
}

.close:active {
    transform: scale(1);
}

.selected {
    border: 3px solid #6b91fb9c;
}

.unselected {
    border: 3px solid transparent;
}

.avatar-preview {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 57px -16px rgba(0,0,0,0.35);
}

.avatar-warning {
    padding: 0;
    margin: 0;
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
}

#save-edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#save-edit a {
    margin-right: 10px;
}

#modal-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editButton {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border: 0.5px solid #343a40;
    color: black;
    transition: 0.2s;
}

#editButton:hover {
    background: transparent;
    transform: scale(1.05);
    transform: translateY(-2.5px);
}

#editButton:active {
    transform: translateY(0);
}

.post {
    margin-bottom: 1.5rem;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 1.5rem;
    background: rgb(28, 30, 33);
    transition: all 0.5s;
}

.post:first-child {
    margin-top: 7.5%;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: portrait) {
      .container-fluid {
          margin: auto auto;
          margin-top: 20vh;
      }

      .title h1 {
          font-size: 4rem;
      }

      .login-form {
          width: 50%;
          font-size: 2rem;
      }

      #register-message {
          font-size: 1.5rem;
          width: 80%;
      }

      .button-container input {
          font-size: 1.8rem;
      }

      .form-control {
          font-size: 1.8rem;
          padding: 1rem;
      }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
     .login-form {
         width: 50%;
     }
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .container-fluid {
          margin: auto auto;
          margin-top: 20vh;
      }

      .title h1 {
          font-size: 5rem;
      }


      .login-form {
          width: 50%;
          font-size: 2rem;
      }

      #register-message {
          font-size: 1.5rem;
          width: 80%;
      }

      .button-container input {
          font-size: 1.8rem;
      }

      .form-control {
          font-size: 1.8rem;
          padding: 1rem;
      }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .login-form {
        width: 50%;
    }    

    .title {
        padding-top: 5rem;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .container-fluid {
        margin-top: 0;
    }

    .title {
        padding-top: 3rem;
    }

    .login-form {
        width: 50%;
    }
}


@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: landscape) { 
    .login-form {
        width: 50%;
    }

    .title {
        padding-top: 5rem;
    }
}


@media only screen 
  and (min-device-width: 737px) 
  and (max-device-width: 823px) 
  and (orientation: landscape) { 
    .container-fluid {
        margin-top: 0;
    }

    .title {
        padding-top: 3.5rem;
    }

    .login-form {
        width: 50%;
    }
}
