{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
	<div class="container-fluid" id="container">
	{% block navbar %}
	{% endblock %}
		<div class="modal-post-container" id="modal_container">
			<div class="modal-create-post">
				<h1>Post new video</h1>
				<form id="new-post-form" method="POST" novalidate>
					{% csrf_token %}
					<label for="link_url">Video URL:</label>
					<input class="form-control" type="url" id="link_url" name="link" required
						pattern=".*(you|stream).*">
					<span class="errorurl" aria-live="polite"></span>
					<input type="submit" id="close_modal" value="Add">
				</form>
			</div>
		</div>

		{% block content %}
		{% endblock content %}

	</div>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/popover.js' %}"></script>
	<script src="{% static 'js/account_main.js' %}"></script>
	<script src="{% static 'js/gify_main.js' %}"></script>
	<script>
		{% block domready %}
		{% endblock %}
	</script>
</body>

</html>
