{% load thumbnail %}
<nav id="gify-nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand d-lg-none" href="#">Navbar</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">GIFy <span class="sr-only">(current)</span></a>
      </li>
      {% if section == "index" %}
      <li class="nav-item">
        <a class="nav-link" id="open" href="#">Add</a>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        {% with avatar=request.user.profile.get_avatar %}
        <a role="button" id="avatar-link" class="nav-link" href="#" data-bs-toggle="popover" tabindex="0">
          <img id="avatar-nav" src="{{ request.user.profile.get_avatar|thumbnail_url:'avatar' }}" alt="Your avatar">
        </a>
        {% endwith %}
        <div id="popover-profile" style="display: none;">
          <h6>Welcome {{ user.username }}</h6>
          {% if section == "index" or section == "edit" %}
          <a class="btn navButton" href="{% url 'account:profile' user.username %}" role="button">Profile</a>
          {% else %}
          <a class="btn navButton" href="{% url 'gify:index' %}" role="button">Dashboard</a>
          {% endif %}
          <a class="btn navButton" href="{% url 'account:logout' %}" role="button">Logout</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>