{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}GIFy{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<template id="post-template">
	<div class="card post">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe id="iframe-video" src="{{ post.link }}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<div class="card-body">
		<div class="post-buttons">
			<button class="comment_button">Comment</button>
			<button>Like</button>
		</div>
	</div>
	<div class="add-new-post">
		<div>
			<img class="avatar-new-comment" src="{{ request.user.profile.get_avatar|thumbnail_url:'avatar' }}" alt="Your avatar">
		</div>
		<input class="new-comment-input" type="text" placeholder="Another comment...">
	</div>
	</div>
</template>

    {% include './list_ajax.html' %} 
{% endblock %}

{% block domready %}
    const container = document.getElementById("container");
    const csrfToken = Cookies.get("csrftoken");
    const posts = document.querySelectorAll(".post");

    async function fetchPosts(page) {
        let response = await fetch(`/?page=${page}`, {
            method: "GET",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            mode: "same-origin"
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        } else {
            return await response.text()
        }
    }

    const enableInfiniteScroll = () => {
        let block_request = false;
        let page = 1;

        container.addEventListener("scroll", event => {
            const { scrollTop, clientHeight, scrollHeight } = container;
            if (scrollTop + clientHeight + 50 >=
                scrollHeight && block_request == false) {
                block_request = true;
                page++;
                fetchPosts(page)
                .then(response => {
                    if (response.length == 0) {
                        block_request = true;
                    } else {
					    container.insertAdjacentHTML('beforeend', response);
                        block_request = false;
                    }
                })
            }
        })
    };

    enableInfiniteScroll();
{% endblock %}
