{% load thumbnail %}
{% for post in posts %}
<div class="card post">
<div class="embed-responsive embed-responsive-16by9">
	<iframe src="{{ post.link }}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</div>
	<div class="card-body">
		<div class="post-buttons">
			<button class="comment_button">Comment</button>
			<button>Like</button>
		</div>
	</div>
	<div class="add-new-post">
		<div>
			<img id="avatar-new-comment" src="{{ request.user.profile.get_avatar|thumbnail_url:'avatar' }}" alt="Your avatar">
		</div>
		<input type="text" placeholder="Add comment...">
	</div>
</div>
{% endfor %}
</div>
