{% load thumbnail %}
{% for post in posts %}
<div class="card post" data-id="{{ post.id }}">
<div class="embed-responsive embed-responsive-16by9">
	<iframe src="{{ post.link }}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</div>
	<div class="card-body">
		<div class="post-buttons">
      {% with user_like=post.user_likes.all %}
			<button class="comment_button">Comment</button>
			<button class="like_button"
              data-id="{{ post.id }}"
              data-action="{% if request.user.profile in user_like %}un
                           {% endif %}like">
        {% if request.user.profile in user_like %}
          Unlike
        {% else %}
          Like
        {% endif %}
      </button>
      {% endwith %}
		</div>
	</div>
	<div class="add-new-post">
		<div>
			<a href="{% url 'account:profile' request.user.username %}">
			<img class="avatar-new-comment" src="{{ request.user.profile.get_avatar|thumbnail_url:'avatar' }}" alt="Your avatar">
			</a>
		</div>
		<form class="new-comment-form" method="POST">
			<input maxlength="250" class="new-comment-input" type="text" placeholder="Add comment...">
		</form>
	</div>
<div class="comments-container"> </div>
</div>
{% endfor %}
