{% for comment in comments %}
	<div class="post-comment">
		<div class="post-author">
			<p>Damian2 at 20/01/2021:</p>
		</div>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel interdum lacus. Maecenas nibh mi, finibus sed justo cursus, commodo ultricies ligula. Nullam fermentum dapibus tellus vitae mollis. Cras luctus, lacus non tristique egestas, enim massa lobortis odio, id ultrices velit libero in nisi. Integer non commodo dui. Aenean interdum nisi at metus suscipit auctor.</p>
			</div>
	</div>
{% endfor %}
