{% load thumbnail %}
{% for post in posts %}
<div class="card post">
<div class="embed-responsive embed-responsive-16by9">
	<iframe src="{{ post.link }}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</div>
	<div class="card-body">
		<div class="post-buttons">
			<button class="comment_button">Comment</button>
			<button>Like</button>
		</div>
	</div>
	<div class="add-new-post">
		<div>
			<a href="{% url 'profile' request.user.username %}">
			<img class="avatar-new-comment" src="{{ request.user.profile.get_avatar|thumbnail_url:'avatar' }}" alt="Your avatar">
			</a>
		</div>
		<input class="new-comment-input" type="text" placeholder="Add comment...">
	</div>
<div class="posts-container">
<div class="post-comment">
	<div class="post-author">
		<p>Damian2 at 20/01/2021:</p>
	</div>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel interdum lacus. Maecenas nibh mi, finibus sed justo cursus, commodo ultricies ligula. Nullam fermentum dapibus tellus vitae mollis. Cras luctus, lacus non tristique egestas, enim massa lobortis odio, id ultrices velit libero in nisi. Integer non commodo dui. Aenean interdum nisi at metus suscipit auctor. Curabitur sed convallis felis. Donec quis condimentum urna, vel pharetra orci. Phasellus hendrerit libero est. </p>
	</div>
</div>
<div class="post-comment">
	<div class="post-author">
		<p>Damian2 at 20/01/2021:</p>
	</div>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel interdum lacus. Maecenas nibh mi, finibus sed justo cursus, commodo ultricies ligula. Nullam fermentum dapibus tellus vitae mollis. Cras luctus, lacus non tristique egestas, enim massa lobortis odio, id ultrices velit libero in nisi. Integer non commodo dui. Aenean interdum nisi at metus suscipit auctor. Curabitur sed convallis felis. Donec quis condimentum urna, vel pharetra orci. Phasellus hendrerit libero est. </p>
	</div>
</div>
</div>
</div>
{% endfor %}
