{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="title">
        <h1>Login</h1>
    </div>
    <div class="login-form">
        <form action="{% url 'account:login' %}" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name='next' value='{{ next }}'>
            <div class="button-container"> 
                <input type="submit" value="Login" class="btn authButton">
                <p id="register-message">Don't have account? Register
                <a href="{% url 'account:register' %}">here</a> or request new password
                <a href="{% url 'account:password_reset' %}">here</a>
                </p>
            </div>
        </form>
    </div>     
{% endblock %}
