{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Profile{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
	<div id="profile-container">
		<div class="profile-card">
			<div class="card-header">
				<div class="pic">
					  {% with avatar=user_profile.get_avatar %}
							<img  src="{{ avatar|thumbnail_url:'avatar-main' }}">
					  {% endwith %}
				</div>
				<div class="name">Damian Tabor</div>
				<div class="desc">Developer & Designer</div>
				<div class="sm">
					<a class="fab fa-facebook-f" href="#"></a>
					<a class="fab fa-twitter" href="#"></a>
					<a class="fab fa-github" href="#"></a>
					<a class="fab fa-youtube" href="#"></a>
				</div>
				{% if request.user.profile == user_profile %}
					<a href="{% url 'account:edit_profile' user.username %}" class="edit-btn">Edit</a>
				{% else %}
					<a href="#" class="follow-btn">Follow</a>
				{% endif %}
			</div>
			<div class="card-footer">
				<div class="numbers">
					<div class="item">
						<span>120</span>
						Posts
					</div>
					<div class="border"></div>
					<div class="item">
						<span>127</span>
						Following
					</div>
					<div class="border"></div>
					<div class="item">
						<span>120K</span>
						Followers
					</div>
				</div>
				<div class="about">
					LLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsumorem Ipsum
				</div>
			</div>
		</div>
	</div>
{% endblock %}
