{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Profile{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
	<div id="profile-container">
		<div class="profile-card">
			<div class="card-header">
				<div class="pic">
					  {% with avatar=user_profile.get_avatar %}
							<img  src="{{ avatar|thumbnail_url:'avatar-main' }}">
					  {% endwith %}
				</div>
				<div class="name">Damian Tabor</div>
				<div class="desc">{{ user_profile.title }}</div>
				<div class="sm">
					{% if user_profile.facebook_url %}
					<a class="fab fa-facebook-f" href="{{ user_profile.facebook_url }}" target="_blank"></a>
					{% endif %}
					{% if user_profile.twitter_url %}
					<a class="fab fa-twitter" href="{{ user_profile.twitter_url }}" target="_blank"></a>
					{% endif %}
					{% if user_profile.github_url %}
					<a class="fab fa-github" href="{{ user_profile.github_url }}" target="_blank"></a>
					{% endif %}
					{% if user_profile.youtube_url %}
					<a class="fab fa-youtube" href="{{ user_profile.youtube_url }}" target="_blank"></a>
					{% endif %}
				</div>
				{% if request.user.profile == user_profile %}
					<a href="{% url 'account:edit_profile' user.username %}" class="edit-btn">Edit</a>
				{% else %}
                    {% with followers=user_profile.all %}
					<a href="#" class="follow-btn" 
                    data-action="{% if request.user in followers %}un
                                 {% endif %}follow">
                        {% if request.user in followers %}
                        Unfollow
                        {% else %}
                        Follow
                        {% endif %}
                    </a>
                    {% endwith %}
				{% endif %}
			</div>
			<div class="card-footer">
				<div class="numbers">
					<div class="item">
						{% with posts_count=user_profile.posts.count %}
						<span>{{ posts_count }}</span>
						Post{{ posts_count|pluralize }}
						{% endwith %}
					</div>
					<div class="border"></div>
					<div class="item">
						<span>127</span>
						Following
					</div>
					<div class="border"></div>
					<div class="item">
						<span>120K</span>
						Followers
					</div>
				</div>
				<div class="about">
					{{ user_profile.about }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
