{% extends "base.html" %}

{% block title %} Create an account{% endblock %}

{% block content %}
<div class="title">
    <h1>Create an account</h1>
</div>
<div class="register-form">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        <div class="button-container">
            <input type="submit" value="Register" class="btn authButton">
            <p id="register-message">Already have an account?
                <a href="{% url 'account:login' %}">Login</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}